@model Mpp.WEB.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_UserAccount.cshtml";
}

<div class="container">
    <div class="col-md-8 col-md-push-2">
        <div class="md-box" style="margin-top:100px!important;">
            <h1>Reset Password</h1>
            @if (ViewBag.Confirmation != null)
            {
            <div style="text-align:center;font-weight:bold;color:#ce6262;"><span><img src="~/Content/images/no-success.png" alt="invalid" style="padding-right:5px;height:24px;" />@ViewBag.Confirmation</span></div>
            }
            @using (Html.BeginForm("ResetPassword", "UserAccount", routeValues: null, method: FormMethod.Post, htmlAttributes: new { id = "resetForm" }))
            {
                @*@Html.ValidationSummary()*@
                @*@Html.AntiForgeryToken()*@
                <div class="form-group">
                    @Html.PasswordFor(model => model.Password, htmlAttributes: new { @class = "form-control", placeholder = "Password" })
                    @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "form-control", placeholder = "Confirm Password" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-block btn-info">Save</button>
                    @Html.HiddenFor(model => model.UserId)
                </div>
                if (TempData["IsValid"] != null)
                {
                    <div class="form-group resultmsg text-danger">
                        <span>@TempData["IsValid"]</span>
                    </div>
                }
                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
            }
        </div>
    </div>
</div>